

<div class="container header">
    <div class="card-container">
        <mat-card >
          <img mat-card-image style="max-height: 330px; max-width:500px; " src="https://www.texasmotorspeedway.com/images/autotrader-echopark-400-23_300x200.png" alt="Photo of a Shiba Inu">
        </mat-card>
      </div>
    <div id="text">
        <h3 >Congratulations! You are a winner!</h3>
        <p>Thanks for participating in 2022 TMS Winter Raffle. You will receive:
            <ul>
                <li>
                    Two complimentary race tickets to 2023 Autotrader Echopark Automotive 400 NASCAR playoff
                </li>
                <li>
                    Exclusive Field level access
                </li>
                <li>
                    A reserved Racing Electronics scanner so you don't miss a minute of the action!
                </li>
            </ul>
        
        <P>NASCAR Cup Series drivers put it all on the line in their quest to secure an iconic win in Texas. The Autotrader EchoPark Automotive 400 is a chance for the remaining Playoffs drivers to make their mark and punch their ticket one step closer to the promised land ... a Cup Series championship.</P>
    </div>
</div>
