<div class="content" role="main">
    <div class="card-container">
      <mat-card class="event-card">
        <img mat-card-image src="https://www.texasmotorspeedway.com/images/rattlesnake250_2023_600px_300x200.png" alt="Photo of a Shiba Inu">
      </mat-card>
      <mat-card class="event-card" style="margin-top: 20px;">
        <img mat-card-image src="https://www.texasmotorspeedway.com/images/uploads/TexasIndy375_2023_600px_400x200.png" alt="Photo of a Shiba Inu">
      </mat-card>
  
      <mat-card class="event-card">
        <img mat-card-image src="https://www.texasmotorspeedway.com/images/andysfrozencustard300_nodate_300x200.png" alt="Photo of a Shiba Inu">
      </mat-card>
  
      <mat-card class="event-card">
        <img mat-card-image src="https://www.texasmotorspeedway.com/images/autotrader-echopark-400-23_300x200.png" alt="Photo of a Shiba Inu">
      </mat-card>
    </div>
  
    <!-- Resources -->
    <div class="card-container" style="margin-top: 20px;">
      <mat-card-header class="raffle-title">TMS 2022 Winter Raffle</mat-card-header>
  
      <mat-card-content>
  
      <p>This holiday season, Texas Motor Speedway is parterning with No Kid Hungry to present the 2022 winter raffle.</p>
      <p>Start your engines! You could win a trip to see one of the following exciting races at Texas Motor Speedway in Fort Worth, TX. </p>
        
      <ul>
        <li>
          <a href="https://www.texasmotorspeedway.com/events/rattlesnake-250/">
            Apr 1, 2023 - RATTLESNAKE 250 - NASCAR CRAFTSMAN Truck Series
          </a>
        </li>
        <li>
          <a href="https://www.texasmotorspeedway.com/events/texas-indy-375/">
            Apr 2, 2023 - TEXAS INDY 375 - NTT INDYCAR SERIES
          </a>
        </li>
        <li>
          <a href="https://www.texasmotorspeedway.com/events/andys-frozen-custard-300/">
            Sep 23, 2023 - ANDY'S FROZEN CUSTARD® 300 - XFINITY SERIES PLAYOFFS RACE
          </a>
        </li>
        <li>
          <a href="https://www.texasmotorspeedway.com/events/autotrader-echopark-automotive-400/">
            Sep 24, 2023 - AAUTOTRADER ECHOPARK AUTOMOTIVE 400 - NASCAR CUP SERIES PLAYOFFS RACE
          </a>
        </li>
      </ul>    
    </mat-card-content>
    </div>
    <div class="card-container">
      <!--
        <a class="card" target="_blank" rel="noopener" routerLink="/purchase-ticket">
        <mat-icon>shopping_cart</mat-icon>
        <span>Purchase Ticket</span>
      </a>
    -->
      <a class="card" rel="noopener" routerLink="/purchase-ticket">
        <mat-icon>shopping_cart</mat-icon>
        <span>Purchase Ticket</span>
      </a>
      <a class="card" rel="noopener" routerLink="/redeem-code">
        <mat-icon>redeem</mat-icon>
        <span>Redeem Code</span> 
      </a>  
    </div>
    
</div>